/* ============= CSS Reset ================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ========================================= */
/* ------------- nested styling */
/* ========================================= */

body {
    max-width: 60em;
    margin: auto;
    background-color: hsl(40, 50%, 60%);
    justify-content: center;
    display: flex;
    flex-direction: column;

    main {
        padding-left: 10px;
        padding-right: 10px;
        background-color: hsl(40, 100%, 85%);

        header {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            border-bottom: solid 1px hsl(40, 50%, 60%);

            h1 {
                font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
                font-weight: 500;
                padding-top: 0.1em;
                padding-bottom: 0.2em;
            }
        }

        #section-one {
            /* I am specifically NOT using flex-direction: row here
                so that the media querys flex-direction: column
                takes precedence. */
            display: flex;
            flex-wrap: nowrap;
            border-bottom: solid 1px hsl(40, 50%, 60%);

            img {
                padding-left: 0.3em;
                padding-right: 0.8em;
                padding-top: 0.8em;
                padding-bottom: 0.8em;
                max-width: 25em;
                /* so that image does not stretch as
                    text expands downward when window is 
                    resized */
                max-height: 480px;
            }

            p {
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }
        }

        #section-two {
            /* I am specifically NOT using flex-direction: row here
                so that the media querys flex-direction: column
                takes precedence. */
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            border-bottom: solid 1px hsl(40, 50%, 60%);

            h2 {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }

            div {
                flex: 3.5;
            }

            div:last-child {
                flex: 6.5;
            }

            ul {
                padding-left: 25px;
            }

            li {
                list-style: square;
                margin-bottom: 0.4em;
            }

            li:last-child {
                padding-bottom: 10px;
            }
        }

        footer {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding-bottom: 1.5em;

            h2 {
                padding-top: 0.3em;
            }
        }
    }
}

/* ========================================= */
/* ------ @media queries */
/* ========================================= */

/* changes flex to column when width gets 
    smaller than 800px*/
@media screen and (max-width: 800px) {

    main section {
        flex-direction: column;

        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
}