/* ========================================= */
/* ------------- Global styling */
/* ========================================= */

/* vv from example.txt vv 
hsl(40, 50%, 60%) site background
hsl(40, 100%, 85%) site foreground
hsl(40, 100%, 35%) winner text
hsl(0, 0%, 50%) nominee text 
*/

body {
    max-width: 60em;
    margin: auto;
    background-color: hsl(40, 50%, 60%);
    justify-content: center;
    display: flex;
    flex-direction: column;
}

main {
    background-color: hsl(40, 100%, 85%);
}

/* temporary code to make image smaller */
main img { max-width: 300px }
/* remove this ^ later */

/**/
/**/
/* ========================================= */
/* ------ header/main-content/footer styling */
/* ========================================= */

header, footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#section-one, #section-two {
    display: flex;
    flex-direction: row;
    border-top: solid 1px hsl(40, 50%, 60%);
    border-bottom: solid 1px hsl(40, 50%, 60%);
}

@media screen and (max-width: 800px) {
    #section-one, #section-two {
        flex-direction: column;
    }
}
